[user]
	email = mattia.borsalino@intel.com
	name = Mattia Borsalino

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[http "https://github.com"]
	proxy = http://proxy-dmz.intel.com:912
[http "https://lfs.github.com"]
	proxy = http://proxy-dmz.intel.com:912
[http "https://github-cloud.s3.amazonaws.com"]
	proxy = http://proxy-dmz.intel.com:912
[http "https://github-cloud.githubusercontent.com"]
	proxy = http://proxy-dmz.intel.com:912
[credential "https://github.com"]
	helper = 

[merge]
    # tool = meld
    conflictstyle = diff3

[mergetool "p4merge"]
    # path = /home/mborsalino/bin/p4merge
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
#
#[mergetool "mymeld"]
#     cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
#     cmd = mymeld $LOCAL $BASE $REMOTE $MERGE 

[diff]
	tool = meld

[difftool "p4merge"]
    # path = /home/mborsalino/bin/p4merge
    

[core]
	editor = nvim
	excludefiles = /home/mborsali/.gitignore_global
	excludesfile = /home/mborsali/.gitignore_global

[alias]
	undo-commit = reset --soft HEAD^
	mylog = log --decorate --oneline --graph --pretty=format:\"%h %Cred%d%Creset %Cblue%aN%Creset -- %s\"
    ml = log --decorate --oneline --graph --exclude "johan*" --decorate-refs-exclude='*johan*' --pretty=format:\"%h %Cred%d%Creset %Cblue%aN%Creset  -- %s\"
    mla = log --decorate --oneline --graph --exclude "johan*" --decorate-refs-exclude='*johan*' --branches --pretty=format:\"%h %Cred%d%Creset %Cblue%aN%Creset  -- %s\"
    newlog = log --decorate --oneline --graph --date=short --pretty=format:\"%h %C(green)%d %C(red)%ad %C(blue)%an%C(reset) -- %s\"
    rlog = log --reverse --decorate --oneline --pretty=format:\"%h %Cred%d%Creset %Cblue%an%Creset -- %s\"  # combine with | tail when using it 
    findlog = "!f() { git mylog --all | egrep --color=always \"$1|$\" | less -r; }; f"
    recommit = commit --amend -C HEAD
    l5 = mylog -5
    l10 = mylog -10 
    l20 = mylog -20
    curbranch = "!git branch | grep \"*\"" 
    aliases = "!git config -l | grep alias | cut -c 7-"
    accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
    accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
    parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
    # git ff master dev  --> fast forward master to dev
    ff = "!git fetch . $2:$1"
    sdiff = "!git -c delta.side-by-side=true diff $@"
    cim = commit --interactive



[rerere]
    enabled = 1
    autoupdate = true

[gitreview]
	remote = origin
	username = mborsalino

[color "status"]
	branch = bold green

# Configure "delta" as the main git diff tool
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

# Include a list of predefined delta style configurations ("color schemes")
[include]
    path = /home/mborsali/local/delta/themes.gitconfig

# Set my proferred colorscheme (for dark backgrounds)
[delta]
     features = calochortus-lyallii 
