# Don't print a new line at the start of the prompt
add_newline = false

# Make prompt a single line instead of two lines
[line_break]
# disabled = true
disabled = false

format = "$all"

[username]
style_user = "white bold"
style_root = "red bold"
format = "[$user]($style)"
disabled = false
show_always = false

[hostname]
ssh_only = false
format =  "@[$hostname](bold red) "
trim_at = ".companyname.com"
disabled = false

[directory]
truncation_length = 3 
truncation_symbol = "…/"

[cmd_duration]
disabled = true

[python]
disabled = true

[git_branch]
truncation_length = 10
truncation_symbol = ""
symbol = ""
style = "bold purple"
format = "[$symbol$branch]($style)"
